@import "../../App.scss";

.cardlayout-elements {
    .title {
        font-weight: bold;
        text-align: left;
        font-size: 1.12rem;
    }

    .date-time-container {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;
        color: $red;
        font-weight: 600;
        .time{
            margin-left: 0.5rem;
        }
    }

    .location-container {
        margin-top: 1rem;
        font-size: 0.8rem;
        font-weight: 600;

        .location {
            display: flex;
            flex-direction: row;

            .state {
                margin-left: 0.5rem;
            }
        }
    }

    button {
        margin-top: 1rem;
        background-color: #212121;
        border-color: #212121;
        color: #ffffff;
        margin-right: 1rem;
        font-size: 0.9rem;
        width: -webkit-fill-available;
    }
}

.grid {
    padding: 20px;
}

.box {
    width: 20rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardlayout-btn {
    margin: 10px;
    width: 117px;
    background-color: white;
}

.cardlayout-elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}